{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <div class="itens-header">
            <i data-lucide="scissors" class="scissors"></i>
            <div class="texts-header">
                <p>Barbearia</p>
                <p class="shop-name">NOME DA BARBEARIA</p>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#"><i data-lucide="house" class="house icon-nav"></i>INÍCIO</a></li>
            <li><a href="{% url 'agendamento' %}"><i data-lucide="clipboard-clock" class="clipboard-clock icon-nav"></i>AGENDAR</a></li>
            <li><a href="#about"><i data-lucide="at-sign" class="at-sign icon-nav"></i>SOBRE</a></li>
            <li><a href="#services"><i data-lucide="layout-list" class="layout-list icon-nav"></i>SERVIÇOS</a></li>
        </ul>
    </nav>
    <section class="home" id="home">
        <main class="home-content">
            <div class="home-texts">
                <div class="titles">
                    <h1>seu estilo</h1>
                    <h1>fala antes de</h1>
                    <p class="maren">VOCE</p>
                </div>
                <div class="little-text">
                    <p>Cortes de qualidade, atendimento profissional e um ambiente que reflete o seu estilo</p>
                </div>
            </div>
            <div class="home-buttons">
                <a href="agendamento-primeiro-passo/" class="color"><i data-lucide="clipboard-clock" class="clipboard-clock"></i> Agendar</a>
                <a href="#" class="nocolor"><i data-lucide="map-pin" class="map-pin"></i> Localização</a>
            </div>
        </main>
    </section>
    <section id="about" class="about">
        <p class="maren">SOBRE</p>
        <main class="about-content">
            <div class="logo-name">
                <img src="" alt="logo">
                <p>Nome da barbearia</p>
            </div>
            <div class="text-about">
                <p>Bem-vindo ao nosso espaço! Aqui, acreditamos que cada detalhe faz diferença. Trabalhamos com dedicação para entregar qualidade, confiança e uma experiência que realmente facilite o seu dia a dia.</p>
                <p>Nosso compromisso é evoluir continuamente, buscando soluções modernas, eficientes e pensadas para você. Seja para conhecer nossos serviços, tirar dúvidas ou acompanhar nossas novidades, estamos sempre por perto.</p>
            </div>
        </main>
    </section>
    <section class="services" id="services">
        <p class="maren">SERVICOS</p>
        <main class="services-content"></main>
    </section>
    
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>